<!DOCTYPE html>
<html>
    <head>
        <@include header.html.tpl %>
        <@css article.css %>
        <@css monokai-sublime.min.css %>
        <@css katex.min.css %>
        <@js katex.min.js %>
    </head>

    <body>

        <div class="main-content container">
            <%= article-content %>
        </div>
    </body>

    <@include foot.html.tpl %>
</html>
