a {
    text-decoration: none;
}

.left-menu {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
}

.left-menu > ul {
    font-size: 35px;
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
    list-style-type: none;
    margin-top: 0px;
    color: white;
}

.main-content {
    margin-top: 35px;
    /* display: inline-block; */
/* width: 80%;
        vertical-align: top;
        margin-left: 1%; */
}

select {
    display: inline-block;
    width: 35%;
}

#editor-container {
    height: 450px;
}

.article-buttons {
    float: right;
    display: block;
    margin: 10px 0px 10px 10px;
/* text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.675rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem; */
}

.article-buttons:hover {
    cursor: pointer;
}

/* #submit-button {
  font-family: 'alex_brush', cursive;
  font-size: 20px;
} */

/*------edit page----*/
#edit-article-title {
}

.blog-post-content {
    display: none;
}

.blog-oid {
    display: none;
}
.blog-post {
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom: 1px solid #d6d6d6;
}

.blog-post-title > a {
    color: #333;
    font-size: 28px;
    font-weight: 200;
    text-decoration: none;
}

.blog-post-meta {
    margin-bottom: 10px;
}

.blog-tags {
    display: inline-block;
}

.blog-tag {
    text-decoration: none;
    color: #eee;
    background-color: #1976d2;
    /* border: 1px black solid; */
    padding: 2px 5px 3px 5px;
    cursor: pointer;
    margin-right: 3px;
}

.edit-buttons {
    float: right;
    margin-top: -30px;
    margin-left: 1%;
}

#edit-content {
    display: none;
    margin-top: 50px;
/* margin-left: 1%;
  width: 80%; */
}

/* Herman */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/pub/css/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('/pub/css/fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('/pub/css/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('/pub/css/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 54px;
    line-height: 54px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 54px;
    line-height: 54px;
    font-size: 35px;
}
