.blog-post {
  margin-bottom: 0px;
  border-bottom: none;
}

.blog-post-title {
  margin-bottom: 20px;
  text-align: center;
}

.blog-post-meta {
  text-align: right;
}

.blog-post-content {
  margin-bottom: 0px;
  font-size: 18px;
}
