.noScroll {
    overflow: hidden;
}

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.blog-name {
    font-size: 25px;
    color: white;
    font-family: "Times New Roman";
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
    display: block;
    height: 48px;
    background-color: black;
}

.blog-nav .active {
    color: #fff;
}

.blog-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 20%;
}

.blog-nav li {
    float: left;
}

.blog-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
}

.container {
    position: relative;
}

.msg-layer-none {
    display: none;
}

.msg-layer {
    z-index: 999;
    width: 260px;
    padding: 60px 20px;
    margin: 1em 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 200%;
    text-shadow: 0 -0.05em 0.1em rgba(0,0,0,.3);
    position: absolute;
    margin-top: 25%;
    margin-left: 35%;
    background: #e7757f;
    border-radius: .4em;
    display: block;
}

.nav-item-list li a:hover {
    background-color: #111111;
}
/*
 * Blog name and description
 */
.main-content {
    margin-top: 50px;
    width: 93%;
}

h2, h3 {
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: #1311b347;
    text-underline-position: under;
}

/* .main-content > h2 {
  font-size: 35px;
  width: 60%;
  border-bottom: 1px solid #d6d6d6;
  font-weight: 200;
  margin-left: 20%;
} */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
    /* width: 60%;
  margin-left: 20%; */
    border-bottom: 1px solid #d6d6d6;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 28px;
}

.blog-post-title > a {
    text-decoration: none;
    color: black;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.blog-tags {
    display: inline-block;
    width: 70%;
    line-height: 30px;
}

.blog-status {
    border-radius: 5px;
    width: 60px;
    margin-top: 10px;
    margin-left: 2px;
    text-align: center;
    display: none;
}

.blog-status-draft {
    border: 1px solid red;
    color: red;
}

.blog-status-publish {
    border: 1px solid green;
    color: green;
}

.blog-tag {
    text-decoration: none;
    color: #eee;
    background-color: #1976d2;
    padding: 2px 5px 3px 5px;
}

.blog-post-content {
    margin-bottom: 5px;
}

.blog-post-content h3 {
    font-weight: 500;
    font-size: 25px;
}

.blog-oid {
    display: none;
}

/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

/* Herman */
/* @font-face { */
/*     font-family: 'Material Icons'; */
/*     font-style: normal; */
/*     font-weight: 400; */
/*     src: url('/pub/css/fonts/material-icons.woff2') format('woff2'); */
/* } */

/* .material-icons { */
/*     font-family: 'Material Icons'; */
/*     font-weight: normal; */
/*     font-style: normal; */
/*     font-size: 24px; */
/*     line-height: 1; */
/*     letter-spacing: normal; */
/*     text-transform: none; */
/*     display: inline-block; */
/*     white-space: nowrap; */
/*     word-wrap: normal; */
/*     direction: ltr; */
/*     -webkit-font-smoothing: antialiased; */
/* } */

/* Light */
/* @font-face { */
/*     font-family: 'Open Sans'; */
/*     src: url('/pub/css/fonts/OpenSans-Light.ttf'); */
/*     font-weight: 300; */
/*     font-style: normal; */
/* } */
/* /\* Regular *\/ */
/* @font-face { */
/*     font-family: 'Open Sans'; */
/*     font-weight: 400; */
/*     font-style: normal; */
/* } */
/* /\* Regular *\/ */
/* @font-face { */
/*     font-family: 'Open Sans'; */
/*     src: url('/pub/css/fonts/OpenSans-Bold.ttf'); */
/*     font-weight: 700; */
/*     font-style: normal; */
/* } */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    height: 54px;
    line-height: 54px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 54px;
    line-height: 54px;
    font-size: 35px;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    white-space: pre-wrap;
}

input[type="button"] {
    border: none;
    outline:none;
}

input[type="image"] {
    border: none;
    outline:none;
}

.colt-icon-button {
    padding-right: 10px;
}
