.switch label input[type="checkbox"]:checked + .lever {
    background-color: #2176d2;
}

.switch label input[type="checkbox"]:checked + .lever:after {
    background-color: #2176d2;
    color: #2176d2;
}

#update-timestamp-text {
    font-size: 16px;
}

#edit-update-timestamp:checked ~ #update-timestamp-text {
    color: #2176d2;
}

.waves-effect.waves-blue .waves-ripple{
    /* The alpha value allows the text and background color
                of the button to still show through. */
    background-color: #2176d2;
}

.input-field input[type=text]:focus:not([readonly]),
.input-field input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #2176d2;
    box-shadow: 0 1px 0 0 #2176d2;
}

.btn-flat:clicked{
    background-color: #2176d2;
    color: #000;
}

html,
body,
.login-box {
    height: 100%;
}
